PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://username:securepassword@localhost:5432/coffeemuseum?schema=public"
JWT_SECRET="generate_a_high_entropy_32_byte_string_minimum_for_production"
